//- Mixin to add svg-sprite icons
mixin icon(name, mod, block)
  if (block && mod)
    svg(
      class="icon icon-" + name + ' ' + mod,
      aria-hidden="true",
      focusable="false"
      )
      use(xlink:href="img/svg/symbol/sprite.svg#" + name)
  else if (mod)
    span(class="icon icon-" + name + ' ' + mod)
      svg(aria-hidden="true", focusable="false")
        use(xlink:href="img/svg/symbol/sprite.svg#" + name)
  else
    span(class="icon icon-" + name)
      svg(aria-hidden="true", focusable="false")
        use(xlink:href="img/svg/symbol/sprite.svg#" + name)


//- Mixin to add breadcrumbs
mixin breadcrumbs(arr)
  ul.breadcrumbs&attributes(attributes)
    each crumb, index in arr
      if index < (arr.length - 1)
        li.breadcrumbs__item
          a(href='#')!= crumb
      else
        li.breadcrumbs__item
          span(href='#')!= crumb
