-
  var areas = [
    {
      heading: "Сопровождение банкротства. Субсидиарная ответственность контролирующих лиц.",
      img: "img/content/practices/practice-1.jpg"
    },
    {
      heading: "Корпоративное право.",
      img: "img/content/practices/practice-2.jpg"
    },
    {
      heading: "Преступления в сфере экономики.",
      img: "img/content/practices/practice-3.jpg"
    },
    {
      heading: "Семейное право.",
      img: "img/content/practices/practice-4.jpg"
    },
    {
      heading: "Розыск и защита активов.",
      img: "img/content/practices/practice-5.jpg"
    },
    {
      heading: "Комплаенс.",
      img: "img/content/practices/practice-6.jpg"
    },
    {
      heading: "",
      img: "img/content/practices/practice-1.jpg"
    },
  ]

section.page-section.areas
  .o-container
    h2.areas__heading.heading.heading--bar Практики
    ul.areas-list.grid
      each item, index in areas
        li.grid__col-6.grid__col-xs-6.grid__col-md-4(
          class=(index > 5 ? "u-hidden" : "")
        )
          a.areas-item(
            href="#",
          )
            span.areas-item__order= ("0" + (index+1))
            figure.areas-item__picture
              img(
                src= item.img,
                alt=""
              )
            h3.areas-item__heading!= item.heading

    button.areas__more.c-btn.c-btn--block.c-btn--outline.c-btn--icon.js-areas-more(
      type="button"
    )
      | Посмотреть все практики
      +icon('chevron-right')