header.header
  .o-container
    .header__inner
      nav.header__nav
        button.hamburger.js-menu-toggler(aria-label="Открыть меню")
          span.hamburger__bar
        //- LOGO ==============================================================
        if pageClass == "home-page"
          .header__logo.logo
            img(
              src="img/general/logo.png",
              srcset="img/general/logo@2x.png 2x",
              width="148",
              alt="Логотип компании Слово и Дело"
            )
        else
          a.header__logo.logo(href="index.html")
            img(
              src="img/general/logo.png",
              srcset="img/general/logo@2x.png 2x",
              width="148",
              alt="Перейти на главную страницу"
            )
        //- MENU ==============================================================
        ul.header-menu
          li.header-menu__item
            a(href="about.html") О нас
          li.header-menu__item
            a(href="practices.html") Практики
          li.header-menu__item
            a(href="lawyers.html") Адвокаты
          li.header-menu__item
            a(href="contacts.html") Контакты

        //- SEARCH ============================================================
        .header-search__wrapper
          button.header-search__trigger.js-search-toggler(
            type="button",
            aria-label="Открыть форму поиска"
          )
            +icon('search')
          form.header-search.form(
            role='search',
            action="/",
            method="get",
            aria-label="Форма поиска"
          )
            .inputbox
              label.u-hidden-visually(for="header-search")
                | Поиск по сайту
              .inputbox__wrapper
                input.input.header-search__input(
                  autocomplete='off',
                  name='s',
                  type='text',
                  placeholder='Поиск...',
                  aria-label='Поле поиска'
                )
            button.header-search__submit(
              type="submit",
              aria-label="Найти"
            )
              +icon('search')
            button.header-search__close.js-search-close(
              type="button",
              aria-label="Закрыть форму поиска"
            )
              +icon('close')

      a.header__contact(href="+79224776786") +7 (922) 477-67-86

  .mobile-nav
    .mobile-nav__inner
      button.mobile-nav__close.js-mobile-nav-close(
        type="button",
        aria-label="Закрыть меню"
      )
        +icon('close')
      .mobile-nav__module
        ul.mobile-menu
          li.mobile-menu__item
            a(href="index.html") Главная
          li.mobile-menu__item
            a(href="about.html") О нас
          li.mobile-menu__item
            a(href="practices.html") Практики
          li.mobile-menu__item
            a(href="lawyers.html") Адвокаты
          li.mobile-menu__item
            a(href="contacts.html") Контакты
      .mobile-nav__module
        a.mobile__contact(href="+79224776786") +7 (922) 477-67-86
